/* Enter your custom styles here *//* Enter your custom styles here */

.confidenceSuccess .sapMInputBaseContentWrapper {
  background-color: #dbf0dc !important; /* Light Green */
  border-color: #2b7d2b !important;
}

.confidenceWarning .sapMInputBaseContentWrapper {
  background-color: #ffeccf !important; /* Light Orange */
  border-color: #e67300 !important;
}

.confidenceError .sapMInputBaseContentWrapper {
  background-color: #ffe0e0 !important; /* Light Red */
  border-color: #b00020 !important;
}

/* Ensure the input text remains readable */
.confidenceSuccess input,
.confidenceWarning input,
.confidenceError input {
  font-weight: bold;
}

.toBeControlledField .sapMInputBaseContentWrapper {
  background-color: #ffffcc !important; /* Light Yellow */
  border-color: #ffd700 !important; /* Gold/Yellow Border */
}

/* ===================== CHATBOT ===================== */
.apiChatBubble {
    max-width: 18rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
    word-break: break-word;
}

.apiChatBubbleBot {
    background-color: #f2f2f2;
    border-bottom-left-radius: 0.125rem;
}

.apiChatBubbleUser {
    background-color: #d9edf9;
    border-bottom-right-radius: 0.125rem;
}

.apiChatTime {
    font-size: 0.75rem;
    color: #6a6d70;
    margin-top: 0.125rem;
}
